version: '3'

services:
  app:
    build: ./app
    ports:
      - "8000:8000"
  nginx:
    image: nginx
    volumes:
      - ${PWD}/frontend:/usr/share/nginx/html
    ports:
      - "8080:80"
    restart: always
    