/* Базовые стили для всех устройств */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    flex: 1 1 100px; /* Гибкость кнопок для адаптации */
}

button:hover {
    background-color: #777;
}

main {
    padding: 20px;
    text-align: center;
}

/* Медиа-запрос для устройств с шириной экрана до 600px */
@media (max-width: 1920px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 80%;
        margin: 5px 0;
    }
}
@media (min-width: 601px) {
    header {
        padding: 20px 0;
    }

    nav {
        max-width: 800px;
        margin: 0 auto;
    }

    button {
        flex: 1 1 auto; /* Кнопки занимают равное пространство */
        font-size: 16px;
        padding: 15px 25px;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 20px;
        font-size: 18px;
    }
}